[submodule "examples/tensorflow/models"]
	path = examples/tensorflow/models
	url = https://github.com/tensorflow/models/
[submodule "examples/incubator-mxnet"]
	path = examples/incubator-mxnet
	url = https://github.com/apache/incubator-mxnet
